.DS_Store
PaymentKit Example/PaymentKit Example.xcodeproj/xcuserdata/Brian.xcuserdatad/xcschemes/PaymentKit Test.xcscheme
PaymentKit Example/PaymentKit Example.xcodeproj/xcuserdata/Brian.xcuserdatad/xcschemes/PaymentKit Example.xcscheme
